* {
    box-sizing: border-box;
}


:root {
    --first: rgba(68, 88, 119, 1);
    --second: rgba(146, 204, 206, 1);
    --third: rgba(49, 52, 61, 1);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 15px 15px 0px;
    align-items: center;
    background-color: var(--third);
}

header h1 {
    color: var(--third);
    background-color: var(--second);
    padding: 5px 5px 5px 30px;
    font-size: 5vw;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: var(--second);
    background-image: linear-gradient(270deg, var(--second) 0%, var(--second) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2rem;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--first);
}

.hero-banner {
    display: flex;
    justify-content: right;
    padding: 5rem 5rem 0rem 5rem;
    background-image: url("/My-Advanced-Portfolio/Main/assets/images/codingwallpaper.png");
    background-position: 40%;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-banner h2{
    background-size: cover;
    background-color: var(--second);
    padding: 1rem;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    padding: 2rem 0rem 0rem 3rem;
    justify-content: left;
}

.aboutMe h2 {
    display: flex;
    color:rgba(68, 88, 119, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    width: 20rem;
    text-align: right;
    border-right:rgba(68, 88, 119, 1);
    border-right-width: .3rem;
    border-right-style: solid;
    padding-right: 1rem;
}

.aboutMe p{
    color:rgba(68, 88, 119, 1);
    padding-left: 3rem;
    margin: 2rem 5rem 2rem 0rem;
}

.work {
    display: flex;
    flex-direction: row;
    padding: 2rem 0rem 0rem 3rem;
    justify-content: left;
}

.work h2 {
    display: flex;
    color:rgba(68, 88, 119, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    width: 9rem;
    text-align: right;
    border-right:rgba(68, 88, 119, 1);
    border-right-width: .3rem;
    border-right-style: solid;
    padding-right: 2rem;
}

.work div{
    display: flex;
    color:rgba(68, 88, 119, 1);
    /* padding-left: 3rem; */
    flex-direction: row;
    flex-wrap: wrap;
}

.project1 {
    display: flex;
    padding: 1rem 5rem 1rem 5rem;
    /* margin: 1rem 0rem 1rem 0rem; */
    color:rgba(49, 52, 61, 1);
    font-size: 1.4rem;
    width: 100%;
    height: auto;
    background-image: url(/My-Advanced-Portfolio/Main/assets/images/horiseonwebpage.png);
    background-repeat: no-repeat;
    border-color: var(--second);
    border-width: 5px;
    border-style: solid;
}

.overlay1 {
    display: flex;
    margin: 1rem 4rem 1rem 5rem;
    width: 100%;
    height: auto;
    background-color: rgba(146, 204, 206, .5);
    transition: all 0.5s ease-in;
}

.overlay1:hover {
    background-color: rgba(146, 204, 206, 0);
}

.project1 div {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    color:rgba(49, 52, 61, 1);
    font-size: 1.5rem;
    background-color:rgba(146, 204, 206, 1);
    width: 10rem;
    height: auto;
    min-height: auto;
    margin: 29rem 9rem 0rem -5rem;
    padding: 1rem;
}

.project1 p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.project1 h3 {
    margin-bottom: 1rem;
    margin-top: 0rem;
}

.project2 {
    display: flex;
    padding: 1rem 0rem 1rem 5rem;
    /* margin: 1rem 1rem 1rem 0rem; */
    color:rgba(49, 52, 61, 1);
    font-size: 1.4rem;
    width: 100%;
    height: auto;
    background-image: url(/My-Advanced-Portfolio/Main/assets/images/cssCheatsheat.png);
    background-repeat: no-repeat;
    border-color: var(--second);
    border-width: 5px;
    border-style: solid;
}

.overlay2 {
    display: flex;
    margin: 1rem 1rem 1rem 5rem;
    width: 44%;
    height: auto;
    background-color: rgba(146, 204, 206, .5);
    transition: all 0.5s ease-in;
}

.overlay2:hover {
    background-color: rgba(146, 204, 206, 0);
}

.project2 div {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    color:rgba(49, 52, 61, 1);
    font-size: 1rem;
    background-color:rgba(146, 204, 206, 1);
    width: 10rem;
    height: auto;
    min-height: auto;
    margin: 0rem 0rem 0rem -5rem;
    padding: 1rem;
}

.project2 p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.project2 h3 {
    margin-bottom: 1rem;
    margin-top: 0rem;
}

.project3 {
    display: flex;
    padding: 1rem 0rem 1rem 5rem;
    /* margin: 1rem 0rem 1rem 0rem; */
    color:rgba(49, 52, 61, 1);
    font-size: 1.4rem;
    width: 100%;
    height: auto;
    background-image: url(/My-Advanced-Portfolio/Main/assets/images/cssCheatsheat.png);
    background-repeat: no-repeat;
    border-color: var(--second);
    border-width: 5px;
    border-style: solid;
}

.overlay3 {
    display: flex;
    margin: 1rem 0rem 1rem 0rem;
    width: 43%;
    height: auto;
    background-color: rgba(146, 204, 206, .5);
    transition: all 0.5s ease-in;
}

.overlay3:hover {
    background-color: rgba(146, 204, 206, 0);
}

.project3 div {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    color:rgba(49, 52, 61, 1);
    font-size: 1rem;
    background-color:rgba(146, 204, 206, 1);
    width: 10rem;
    height: auto;
    min-height: auto;
    margin: 0rem 0rem 0rem -5rem;
    padding: 1rem;
}

.project3 p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.project3 h3 {
    margin-bottom: 1rem;
    margin-top: 0rem;
}

.project4 {
    display: flex;
    padding: 1rem 0rem 1rem 5rem;
    /* margin: 1rem 1rem 1rem 0rem; */
    color:rgba(49, 52, 61, 1);
    font-size: 1.4rem;
    width: 100%;
    height: auto;
    background-image: url(/My-Advanced-Portfolio/Main/assets/images/cssCheatsheat.png);
    background-repeat: no-repeat;
    border-color: var(--second);
    border-width: 5px;
    border-style: solid;
}

.overlay4 {
    display: flex;
    margin: 1rem 1rem 1rem 5rem;
    width: 44%;
    height: auto;
    background-color: rgba(146, 204, 206, .5);
    transition: all 0.5s ease-in;
}

.overlay4:hover {
    background-color: rgba(146, 204, 206, 0);
}

.project4 div {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    color:rgba(49, 52, 61, 1);
    font-size: 1rem;
    background-color:rgba(146, 204, 206, 1);
    width: 10rem;
    height: auto;
    min-height: auto;
    margin: 0rem 0rem 0rem -5rem;
    padding: 1rem;
}

.project4 p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.project4 h3 {
    margin-bottom: 1rem;
    margin-top: 0rem;
}

.project5 {
    display: flex;
    padding: 1rem 0rem 1rem 5rem;
    /* margin: 1rem 0rem 1rem 0rem; */
    color:rgba(49, 52, 61, 1);
    font-size: 1.4rem;
    width: 100%;
    height: auto;
    background-image: url(/My-Advanced-Portfolio/Main/assets/images/cssCheatsheat.png);
    background-repeat: no-repeat;
    border-color: var(--second);
    border-width: 5px;
    border-style: solid;
}

.overlay5 {
    display: flex;
    margin: 1rem 0rem 1rem 0rem;
    width: 43%;
    height: auto;
    background-color: rgba(146, 204, 206, .5);
    transition: all 0.5s ease-in;
}

.overlay5:hover {
    background-color: rgba(146, 204, 206, 0);
}

.project5 div {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    color:rgba(49, 52, 61, 1);
    font-size: 1rem;
    background-color:rgba(146, 204, 206, 1);
    width: 10rem;
    height: auto;
    min-height: auto;
    margin: 0rem 0rem 0rem -5rem;
    padding: 1rem;
}

.project5 p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.project5 h3 {
    margin-bottom: 1rem;
    margin-top: 0rem;
}
.contactMe {
    display: flex;
    flex-direction: row;
    padding: 2rem 0rem 0rem 3rem;
    justify-content: left;
}

.contactMe h2 {
    display: flex;
    color:rgba(68, 88, 119, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    width: 7rem;
    text-align: right;
    padding-left: -1rem;
}

.contactMe div{
    color:rgba(68, 88, 119, 1);
    padding-left: 3rem;
    border-left:rgba(68, 88, 119, 1);
    border-left-width: .3rem;
    border-left-style: solid;
    margin-left: 4rem;
}

.resume {
    display: flex;
    flex-direction: row;
    padding: 2rem 0rem 0rem 3rem;
    justify-content: left;
}

.resume h2 {
    display: flex;
    color:rgba(68, 88, 119, 1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    width: 5rem;
    text-align: right;
}

.resume p{
    color:rgba(68, 88, 119, 1);
    padding-left: 3rem;
    border-left:rgba(68, 88, 119, 1);
    border-left-width: .3rem;
    border-left-style:solid;
    margin-left: 4rem;
}